In [8]:
%%html

<h1>Code from Python For Data Analysis book by Wes McKinney</h1>
This notebook contains code from chapters 2 to 5.

In [2]:
%%html

<h2>Chapter 2  - Python language basics</h2>

In [31]:
# Python statement doesnot need to use semicolon to terminate. However, semicolon can be 
# used to seperate multiple statements on a single line. 
a=1;c=3;b=1
print(c)

3

In [32]:
# EVerything in python is a python object - string, data structures, function, class etc.

In [35]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [4]:
# Type casting 
val = "3.14"
print(type(val))
val = float(val)
print(type(val))
val = bool(val) # most non zero value will be true for boolean casting and false for zero.
print(val)

<class 'str'>
<class 'float'>
True

In [8]:
# Date and times

from datetime import datetime, date, time

dt = datetime(2011,10,29,20,30,21)

print(dt.date())
print(dt.day)
print(dt.minute)

2011-10-29
29
30

In [9]:
%%html

<h2>Chapter 3  - Built in data structures, functions, and files</h2>

In [14]:
%%html

<h3>Tuple</h3>

In [12]:
tup = (1,2,3)

#Immuatable
print(tup[0])
tup[0] =4

1

TypeError: 'tuple' object does not support item assignment

In [16]:
# In many context, paranenthesis can be omitted
tup = 1,2,3

# Tuple casting
tup = tuple('string')
print(tup)

('s', 't', 'r', 'i', 'n', 'g')

In [18]:
# Nested tuple
tup = (4,5,6),(7,8)
print(tup)
print(tup[0])

((4, 5, 6), (7, 8))
(4, 5, 6)

In [19]:
# tuple can hold mixed data formats
tup = (4,5,6),"hello",(5,6)

In [20]:
print(tup)

((4, 5, 6), 'hello', (5, 6))

In [24]:
# Unpacking tuples
tup = (1,2,3)
a,b,c = tup
print(a)

tup = (4,5,(6,7))
a,b,(c,d) = tup
print(c)

1
6

In [28]:
# special unpacking
values = (1,2,3,4,5)

a,b,*rest = values
print(rest)

# Tuple has a count method that can count the occurrence of a value.
print(values.count(1))

[3, 4, 5]
1

In [29]:
%%html

<h3>List</h3>

In [31]:
# List is a mutable object

li = [1,2,3]
print(type(li))

<class 'list'>

In [45]:
# we can append a new value to the end of list using append function
# we can insert a new value to a specific location
li = ['f', 'g', 'h']
li.append('i')
print(li)
li.insert(0,'e')
print(li)

# Inverse operation of the insert is pop - f is gone
li.pop(1)
print(li)

# We can remove by value
li.remove('i')
print(li)

# Checking a value contain in list
print('g' in li)
print('f' in li)

['f', 'g', 'h', 'i']
['e', 'f', 'g', 'h', 'i']
['e', 'g', 'h', 'i']
['e', 'g', 'h']
True
False

In [46]:
# We can concatenate two list using + operator. Also, we can extend method.
li2=[1,2]
print(li+li2)
li.extend([3,4])
print(li)

['e', 'g', 'h', 1, 2]
['e', 'g', 'h', 3, 4]

In [48]:
# Sorting
a =[4,5,2,3,1]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [57]:
# Slicing

str = "hello!"
li = list(str)
print(li)
# 0   1   2   3   4   5 => +ive indices
# h   e   l   l   o   !
#-6  -5  -4  -3  -2  -1 => -ve indices
# An important point to remember is that the start index is included and the stop index is not. Another point negative indices starts from -1.
print(li[1:2])
print(li[-6:-4])

# Third option in slicing - Take every other element, -v for revering the list
print(li[::2])
print(li[::-1])

['h', 'e', 'l', 'l', 'o', '!']
['e']
['h', 'e']
['h', 'l', 'o']
['!', 'o', 'l', 'l', 'e', 'h']

In [58]:
%%html

<h3>Dictionary</h3>

In [59]:
dict = {}

In [61]:
# It has key value pair and it is mutable object
dict ={"a":1,"b":4}
print(dict)
# It can have mixed data type values

{'a': 1, 'b': 4}

In [63]:
# Keys & value
print(dict.keys())
print(dict.values())

dict_keys(['a', 'b'])
dict_values([1, 4])

In [69]:
#defaultdict

words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
       by_letter[letter] = [word]
    else:
       by_letter[letter].append(word)

print(by_letter)

# We can replace this by defaultdict which add default value

from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    letter = word[0]
    by_letter[letter].append(word)
print(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}
defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [70]:
%%html

<h3>Set</h3>

In [ ]:
#Pg no. 59